# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Model cache
*.joblib

# Large datasets
data/
*.xls
*.xlsx

# VS Code
.vscode/

# Streamlit cache
.streamlit/cache/